.App {
  text-align: center;
  /* min-height:100vh;
  display: flex;
  flex-direction:column; */

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.nav {
  background-color: rgb(177, 198, 72);
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(70, 18, 18);
  position: sticky-top;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* footer */

body {
	margin: 0;
	padding: 0;
	height: 10000px;
}


.footer {
	background-color: black;
	border-top: 7px solid grey;
	position: fixed;
	width: 100%;
	bottom: 0;
	color: white;
	font-size: 10px;
}
